PORT = 5000
MONGO_URI = mongodb+srv://anshwardhansinghsolanki_db_user:wa3qsN4NIaZDjANC@eventmangagementsystem.cerq0zj.mongodb.net/?appName=EventMangagementSystem
EMAIL_USER = anshwardhansinghsolanki@gmail.com
EMAIL_PASS = elcaqylvtgmcetth
JWT_SECRET = your_jwt_secret_key_A7xK9mP2qL8vR4nZ

